body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
} 





/* style */
body{
    font: 16px/28px serif;
    background-color: #fcf9f9;
    color: #ffffff;
    background-image: url(christmas.jpg);
}

.container{
    width: 800px;
    margin: auto;
    background-color: #4c4e4e;
}

.header{
    padding: 20px;
    padding-bottom: 10px
}

.header .judul{
    font-size: 40px;
    font-weight: bold;
}
.header ul li{
    display: inline-block;
    margin-top: 20px;
    margin-right: 10px;
}

.header a {
    text-decoration: none;
    color: rgb(118, 250, 114);
    padding: 3px;
}

.header a:hover{
    background-color: rgb(219, 20, 20);
    color: white;
}

.hero{
    height: 350px;
    background-image: url(backround.jpg);
    background-size: cover;
    background-position: 0 5020px;
    border-top: 5px solid rgb(118, 250, 114);
    border-bottom: 5px solid rgb(219, 20, 20);
}

.content{
    padding: 20px;

}

.content h2{
    font-size: 28px;
    font-weight: bold;
}

.content .penulis{
    font-size: 11px;
    margin-top: 5px;
}

.content .penulis a{
    color:rgb(219, 20, 20);
    text-decoration: none;
}

.content p{
    margin-bottom: 20px;
    font-size: 14px;
}

.footer{
    background-color: rgb(219, 20, 20);
    padding: 10px;
}

.footer .copy {
    color: #eaeaea;
    text-align: center;
    font-size:  12px;
}