/* font */
@font-face {
    font-family: 'BebasNeue';
}

/* Style Utama */
body {
    font: 18px/36px 'BebasNeue', 'Arial Narrow', arial, sans-serif;
    background-color: grey;
    background-image: url(../font/backround.jpg!f305cw);



}


h1{
    color: black;
    font-size: 80px;
    margin: 50px 0;
    text-align: center;
    text-shadow: 1px 1px 2px white;
    width: 900px;
    height: 100px;
    background-color: rgba(191, 178, 178, 0.3);
    padding: 30px 27px 0;
    border: 5px solid black;
}

 .container{
    width: 600px;
    margin: auto;
    padding: 80px;
    border-radius: 5px;

 }

.Gallery{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    overflow: hidden;
 }