body {
    background-color: aqua;
    font-family: Georgia, "Times New Roman", Times, serif;
  }
  h1 {
    font-family: "Comic Sans MS";
    font-size: 60px;
    color: darkblue;
    text-align: center;
  }
  h4 {
    text-align: right;
    font-style: italic;
  }
  p {
    text-align: justify;
  }
  #muhammadkevinaditio {
    color: aliceblue;
  }
  #paragraf1 {
    color: salmon;
    text-align: center;
  }
  #paragraf2 {
    text-align: right;
  }
  a:hover {   
      color: red !important; 
  }
  .tautan:hover {
      color: white !important;
      background-color: blue;
  }