body {
  background-color: rgb(98, 105, 116) ;
  font-family: Georgia, "Times New Roman", Times, serif;
  
}
h1 {
  font-family: "Comic Sans MS";
  font-size: 60px;
  color: rgb(0, 0, 0);
  text-align: center;
}
h4 {
  text-align: right;
  font-style: italic;
  text-align: center;
}
p {
  text-align: justify;
}
h3 {
  color:rgb(0, 0, 0);
}

h3 a {
  color: black;

}
#paragraf1 {
  color: orange;
  text-align: center;

}
#paragraf2 {
  text-align: right;
  color: azure;
  text-align: center;

}
a:hover {
  color: rgb(255, 255, 255) !important;

}
.tautan:hover {
  color: rgb(0, 0, 0) !important;
  background-color: rgb(157, 3, 228);

}
h3 {
  text-align: center;
}